@import "../../variables.scss";
.navbar-option {
  margin: 0 15px;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      color: $text-light;
      font-size: x-large;
    }
  }
}
.footer-home {
  height: 50px;
}
.list-item {
  height: 120px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  .item-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 15px;

    #item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;

      border-radius: 40px;
      box-shadow: $shadow;
      cursor: pointer;
      background-color: $main-color;
    }
    .item-text {
      display: flex;
      flex-direction: column;
      // align-items: center;
      margin: 0 20px;
      h3 {
        font-size: 24px;
        margin: 0;
        font-weight: 500;
        // color: $main-color;
      }
      h4 {
        font-size: 14px;
        margin: 0;
      }
    }

    h2 {
      margin-left: auto;
    }
  }
}
