:root {
  --font: "Avenir";
  --main-color: #fd7422;
  --text-regular: #3a3a3a;
  --text-light: #c2c2c2;
  --border-color: #c2c2c260;
  --shadow: 1px 1px 8px #3a3a3a46;
  --brand-white: #fefefe;
}

.item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-height: 300px;
  border-bottom: 1px solid var(--border-color);
  overflow: auto;
}
.item-counter {
  position: absolute;
  top: 10px;
  right: 0;
}
.item-container {
  position: relative;
  margin: 15px;
}
.add-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  padding-top: 40px;

  border-bottom: 1px solid var(--border-color);
}
.add-button {
  width: 34px;
  height: 34px;
  margin: 0 8px;

  border-radius: 50px;
  border: none;
  box-shadow: var(--shadow);
  background-color: var(--main-color);
  cursor: pointer;
}
.add-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
#add-title {
  width: 170px;
  cursor: text;
}
.remove-item {
  margin: 10px;
  padding: 2px 5px;

  border: 1px solid var(--main-color);
  border-radius: 15px;
  cursor: pointer;
}
.description {
  width: auto;
  height: auto;
  min-height: 60px;
}
#upload-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
label {
  cursor: pointer;
}
.gray {
  background-color: #f8f8f8;
}

.attached {
  border-bottom: 1px solid var(--border-color);
}
