:root {
  --font: "Avenir";
  --main-color: #fd7422;
  --text-regular: #3a3a3a;
  --text-light: #c2c2c2;
  --border-color: #c2c2c260;
  --shadow: 1px 1px 8px #3a3a3a46;
  --brand-white: #fefefe;
}

#add-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 5px 0;
  border-top: 1px solid var(--border-color);
}
#add-field {
  margin: 0 10px;
  padding: 5px 15px;

  border-radius: 15px;
  border: none;
  /* border: 1px solid var(--main-color); */
  outline: none;
  background-color: var(--brand-white);
  color: var(--main-color);
  font-family: var(--font);
  font-size: 21px;
  font-weight: normal;
  cursor: pointer;
}
#submit {
  height: 60px;
  width: 200px;
  margin: 0 10px;

  border: none;
  outline: none;
  border-radius: 15px;
  box-shadow: var(--shadow);
  cursor: pointer;

  background-color: var(--main-color);
  font-family: var(--font);
  font-size: 21px;
  font-weight: 500;
  color: var(--brand-white);
}
.footer-create {
  height: 100px;
}
